Host seg seg.rdu seg.rdu.redhat.com 
Hostname seg.rdu.redhat.com 
User dfisher

Host metrics metrics.gss metrics.gss.redhat.com 
Hostname metrics.gss.redhat.com
User root
ForwardAgent yes

Host jimbo
Hostname jimbo
User dvf1976
ForwardAgent yes

Host martin
Hostname martin
User dvf1976
ForwardAgent yes

Host tambot tambot.gss tambot.gss.redhat.com 
Hostname tambot.gss.redhat.com 
User tambot
ForwardAgent yes

Host chatak chatak.rdu chatak.rdu.redhat.com 
Hostname 10.10.183.24
User dfisher
ForwardAgent yes

Host wendell
Hostname 10.13.49.60
User dvf1976
ForwardAgent yes

Host dororo
Hostname 10.10.178.28
User dfisher
ForwardAgent yes

Host tools tools.gss tools.gss.redhat.com 
Hostname tools.gss.redhat.com 
User dfisher
ForwardAgent yes

Host dataloader dataloader.gss dataloader.gss.redhat.com 
Hostname dataloader.gss.redhat.com
User root
ForwardAgent yes

Host askingforthirds askingforthirds.org 
Hostname askingforthirds.org
User root

Host lou
Hostname 192.168.76.1
User dvf1976

Host db db.dev db.dev.gss.redhat.com 
Hostname db.dev.gss.redhat.com
User dfisher
ForwardAgent yes

Host sshirke
Hostname pvm-sshirke.gsslab.rdu2.redhat.com
ForwardAgent yes
User dfisher


#Host *.rdu.redhat.com
#ProxyCommand /usr/bin/nc -X 5 -x localhost:9999 %h %p