Host seg seg.rdu seg.rdu.redhat.com 
Hostname seg.rdu.redhat.com 
User dfisher

Host metrics metrics.gss metrics.gss.redhat.com 
Hostname metrics.gss.redhat.com
User root

Host tambot tambot.gss tambot.gss.redhat.com 
Hostname tambot.gss.redhat.com 
User dfisher

Host chatak chatak.rdu chatak.rdu.redhat.com 
Hostname chatak.rdu.redhat.com 
User dfisher

Host tools tools.gss tools.gss.redhat.com 
Hostname tools.gss.redhat.com 
User dfisher

Host gss-reports1 gss-reports1.rdu gss-reports1.rdu.redhat.com 
Hostname gss-reports1.rdu.redhat.com
User root

Host gss-support gss-support.rdu gss-support.rdu.redhat.com 
Hostname gss-support.rdu.redhat.com
User root

Host dataloader dataloader.gss dataloader.gss.redhat.com 
Hostname dataloader.gss.redhat.com
User root

Host askingforthirds askingforthirds.org 
Hostname askingforthirds.org
User root

Host lou
Hostname 192.168.76.1
User dvf1976

#Host *.rdu.redhat.com
#ProxyCommand /usr/bin/nc -X 5 -x localhost:9999 %h %p